<div class="container">
    <div class="card">
        <div class="card__card-item">
            Steve 1
            <input class="card__input" value="steve" />
            <button class="card__button">Test</button>
        </div>
        <div class="card__card-item">
            Steve 2
        </div>
        <div class="card__card-item">
            Steve 3
        </div>
        <div class="card__card-item">
            Steve 4
        </div>
        <div class="card__card-item flex-3">
            Steve 5
        </div>
    </div>
</div>
<hr />
<div class="fx-layout-1" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px" fxFlexFill>
    <div class="fx-layout-1__item">AA</div>
    <div class="fx-layout-1__item">BB</div>
    <div class="fx-layout-1__item">CC</div>
    <div class="fx-layout-1__item">DD</div>
</div>
<hr />
<div class="container bootstrap">
    <div class="row panel">
        <div class="col-md-12 bootstrap__item">
            Steve0
        </div>
        <div class="col-md-4 bootstrap__item">
            Steve1
        </div>
        <div class="col-md-4 bootstrap__item">
            Steve2
        </div>
    </div>
</div>